.map {
	overflow: hidden;
}

.map__image {
	margin-top: 80px;
	margin-bottom:50px;
	width: 60%;
	height: auto;
}

.map__image path {
	fill: yellow;
	stroke: green;
	stroke-width: 1px;
	transition: fill 0.3s;
}

.map__image .is-active path {
	fill: blue;
}

.map_list a {
	color: inherit;
	text-decoration: none;
	transition: color 0.3s;
}

.map__list a.is-active {
	color: blue;
	font-weight: bold;
}

.map__list ul li {
	font-size: xx-large;
	display: inline;
}