<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>BoVoyage44</display-name>


	<!-- Spécification du fichier de config du context spring Ioc et du context 
		Spring Security -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/application-context.xml </param-value>
	</context-param>


	<!-- Déclaration du listener pour le chargement du context spring Ioc (le 
		context applicatif web) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>



	<!-- Déclaration de la servlet unique de spring mvc -->
	<servlet>
		<servlet-name>ds</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- Chargement du context spring mvc -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-context.xml</param-value>
		</init-param>
	</servlet>

	<!-- Mapping de la servlet unique de spring mvc -->
	<servlet-mapping>
		<servlet-name>ds</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>


	<!-- ***** Déclaration du filtre de spring security ***** -->
<!-- 	<filter> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> c'est juste un alias, ça pourrait être 'toto' -->
<!-- 		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
<!-- 	</filter> -->
	<!-- Le mapping du filtre -->
<!-- 	<filter-mapping> -->
<!-- 		<filter-name>springSecurityFilterChain</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->


	<!-- Page d'accueil du projet -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>


</web-app>